<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facturacion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <h:form id="form">
            <p:panelGrid columns="3" columnClasses="ui-g-4 ui-md-1, ui-g-4 ui-md-10, ui-g-4 ui-md-1" layout="grid" styleClass="ui-panelgrid-blank">
                <p:outputLabel></p:outputLabel>
                <p:commandButton value="Exportar" action="#{kzBean.mostrarClientes()}" ajax="false"/>
                <p:outputLabel></p:outputLabel>
            </p:panelGrid>
        </h:form>
        <p:dataTable var="cliente" value="#{kzBean.listar()}" emptyMessage="N/A">
            <p:column headerText="Nombre">
                <p:outputLabel value="#{cliente.nombre}" />
            </p:column>

            <p:column headerText="Apellido">
                <p:outputLabel value="#{cliente.apellido}" />
            </p:column>

            <p:column headerText="Direccion">
                <p:outputLabel value="#{cliente.direccion}" />
            </p:column>
        </p:dataTable>
    </h:body>
</html>
